AZURE_OPENAI_API_KEY=<API_KEY>
AZURE_OPENAI_ENDPOINT=<API_ENDPOINT>
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4o
AZURE_OPENAI_API_VERSION=2024-06-01

LLAMAINDEX_OLLAMA_BASE_URL=http://localhost:11434
LLAMAINDEX_MODEL_NAME=llama3.1
LLAMAINDEX_EMBEDDING_MODEL_NAME=nomic-embed-text

GRAPHRAG_OLLAMA_BASE_URL=http://localhost:11434/v1
GRAPHRAG_OLLAMA_API_KEY=<any-api-key>
GRAPHRAG_MODEL_NAME=llama3.1
GRAPHRAG_EMBEDDING_MODEL_NAME=nomic-embed-text
GRAPHRAG_INPUT_DIR=../Graphrag/BuildGR/GR-Knowledge/artifacts